
body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 120px; 
}


.container {
    display: flex;
    width: 800px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.image-section img {
    width: 400px;
    height: 500px;
    object-fit: cover;
}


.info-section {
    padding: 20px;
    width: 400px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.info-section h2 {
    font-size: 32px;
    color: black;
    margin-bottom: 15px;
}


.info-section h3 {
    font-size: 18px;
    color: lightgray;
    margin-bottom: 20px;
}


.info-section p {
    font-size: 14px;
    color: black;
    margin-bottom: 20px;
    padding-left: 50px; 
}


.available-colors {
    padding: 20px;
    margin-bottom: 20px; 
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid black;
}

.color-box.black { background-color: black; }
.color-box.red { background-color: red; }
.color-box.beige { background-color: beige; }


.price {
    font-size: 32px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
}


.buy-button {
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.buy-button:hover {
    background-color: gray;
}
